<section class="page-section" id="about">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Somos LosGo</h2>
        <h3 class="section-subheading text-muted">Vení a desayunar, almorzar o merendar a la primera Waffleria de
          Escobar. Nos encontramos en Av. Eugenia Tapia de Cruz 302, Belén de Escobar, Provincia de Buenos Aires.</h3>
      </div>
      <ul class="timeline">
        <li>
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="images/portfolio/main01.jpg" alt="..." /></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2019 </h4>
              <h4 class="subheading">Un poco de Nosotros</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Somos una waffleria que desde 2019 te ofrecemos los más exquisitos waffles dulces y
                salados. Sin dejar atrás otras delicias para acompañar tu café.</p>
            </div>
          </div>

        </li>

        <li class="timeline-inverted">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="images/local.jpg" alt="..." /></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Actualidad</h4>
              <h4 class="subheading"> Nos reiventamos</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted"> Hoy en 2022 nadie nos detiene, seguimos produciendo los mejores Waffles de todo
                escobar.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>