<footer class="footer py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 my-3 my-lg-0">
          <p class="dir">Av. Eugenia Tapia de Cruz 302, Belén de Escobar, Provincia de Buenos Aires.</p>
          <a class="btn btn-dark btn-social mx-2"
            href="https://www.google.com/maps/dir/-34.4936434,-58.6115334/los+go+waffleria/@-34.4182365,-58.8489943,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x95bb6104faca955b:0x3dc31e897c500dbb!2m2!1d-58.7919526!2d-34.344842"><i
              class="fas fa-map-marker-alt"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-instagram"></i></i></a>
        </div>
        <div class="col-lg-4 propouse">
          <a href="/"><img class='logo-small' src="/images/logos/logo.jfif" alt="..." /></a>
          <br>
          <a class="foot-item" href="/propuesta/1">Food Truck</a>
          <br>
          <a class="foot-item" href="/propuesta/2">Catering</a>
          <br>
          <a class="foot-item" href="/propuesta/3">Nuestro Local</a>
        </div>
        <div class="col-lg-4 text-lg-start">
          <p>Copyright &copy; - 2022 - Diseño esclusivo Alan Bareiro</p>
        </div>

      </div>
    </div>
  </footer>