<header class="masthead">
    <div class="container padding-ptext">
      <div class="masthead-subheading">Bienvenidos a LosGo!</div>
      <div class="masthead-heading text-uppercase">Encantado de Conocerte</div>
      <a class="btn btn-primary btn-xl text-uppercase" href="#services">Contactanos</a>
    </div>
  </header>