<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style='opacity: 0.94;'>
  <div class="container">
    <!--class="navbar-brand"--->
    <a href="/"><img class='logo' src="/images/logos/logo-losgo.png" alt="..." /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link" href="/#about">Somos LosGo</a></li>
        <div>
          <li class="nav-item" id="proposal"><a href="#" class="nav-link" data-toggle="collapse">Propuestas</a></li>
          <div class='propsal ' id="collapse-proposal">
            <span class="nav-item " ><a href="/propuesta/1" id="propuesta" class="nav-link li">Food-Truck</a></span>
            <span class="nav-item li" ><a href="/propuesta/2" id="propuesta" class="nav-link lis">Catering</a></span>
          </div>
        </div>

        <li class="nav-item"><a class="nav-link" href="https://wafflerialosgo.ola.click/products">Menu</a></li>
        <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/waffles.losgo"><i class="fb fab fa-facebook"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="
          https://www.instagram.com/waffles.losgo/"><i class="ig fab fa-instagram"></i></a></li>
        <!--
          
          <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
          -->
      </ul>

    </div>

  </div>

</nav>