<section class="page-section bg-light" id="team">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Nuestro Team</h2>
        <h3 class="section-subheading text-muted">Conoce un poco de Nosotros.</h3>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="images/team/2.jpg" alt="..." />
            <h4>Luciana Godoy</h4>
            <p class="text-muted">Dueña / Fotografa</p>
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="images/team/3.jpg" alt="..." />
            <h4>Julian Godoy</h4>
            <p class="text-muted">Dueño / RRPP</p>
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Amamos hacer waffles y enfrentar los retos de cada día. Vení a conocernos y disfrutar en nuestro local de Escobar.</p>
        </div>
      </div>
    </div>
  </section>