<div class="btn-whatsapp">
    <a href="https://api.whatsapp.com/send?phone=543484528405" target="_blank">
        <img class="wass" src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
    </a>
</div>